*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: red;
    color: white;
}

h1{
    color: black;
    text-align: center;
}

p{
    font-weight: 800;
}